# Folder view configuration files
.DS_Store

# notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# build files for jupyter book
_build/

# Notebooks in prep for new paper!
content/10_*
content/10b_comparisons_with_BGEP_2024.ipynb
content/10c_comparisons_with_BGEP_2024summer.ipynb

# pycache 
__pycache__/*
*/__pycache__/**

# data 
content/data/*
content/data/IS2SITMOGR4/*
content/data/IS2SITMOGR4_SUMMER/*
content/data/ISSITGR4/*/*

#update script
update_book.sh

# scratch
scratch/
scratch/*
