# Folder view configuration files
.DS_Store

# scratch files
content/scratch/*

#bokeh files
content/bokeh
content/bokeh/*

# notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# build files for jupyter book
_build/

# Notebooks in prep for new paper!
#content/10*

# start adding in files once I'm happy with them
#!content/10a_all_season_arctic_sea_ice_variability_prelim.ipynb

# pycache 
__pycache__/*
*/__pycache__/**

# Virtual environments
is2book_uv_env/
venv/
env/
.env

# data 
content/data/*
content/data/IS2SITMOGR4/*
content/data/IS2SITMOGR4_SUMMER/*
content/data/ISSITGR4/*/*

# figures 
content/figs/*

#update script
update_book.sh


