# Folder view configuration files
.DS_Store

# notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# build files for jupyter book
_build/

# Big files 
content/gridded_interp_test.ipynb
content/comparisons_with_cryosat-2
# pycache 
__pycache__/*
*/__pycache__/**

# data 
content/data/*.nc*
content/data/IS2SITMOGR4/*

#update script
update_book.sh

# scratch
scratch/
scratch/*
